### Actualizaci√≥n de batallas de los competidores

In [ ]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import datetime

from lib import competition_to_family_map, get_all_battles, url_leaders_by_weight
from lib import extract_all_profiles_weight, update_competitor
from lib import SQLiteConnection

In [1]:
# abrir Google Chrome
driver = webdriver.Chrome(r"C:\Users\manuel.lopez\Documents\chromedriver.exe")

conn = SQLiteConnection('../judo.sql')

In [4]:
competitors = conn.as_pandas('select * from competitors', index_col='index', parse_dates=['last_extraction'])

### Actualiza al gusto

In [ ]:
for profile_id in competitors[competitors.category=='men_73'].profile_id:
    update_competitor(driver, conn, profile_id)

Extracting info from: HASHIMOTO Soichi...
Extracting video URLs...
Extracting info from: SHAVDATUASHVILI Lasha...
Extracting video URLs...
Extracting info from: AN Changrim...
Extracting video URLs...
Extracting info from: MACIAS Tommy...
Extracting video URLs...
Extracting info from: GANBAATAR Odbayar...
Extracting video URLs...
Extracting info from: HEYDAROV Hidayat...
Extracting video URLs...
Extracting info from: GJAKOVA Akil...
Extracting video URLs...
Extracting info from: ORUJOV Rustam...
Extracting video URLs...
Extracting info from: MARGELIDON Arthur...
Extracting video URLs...
Extracting info from: SMAGULOV Zhansay...
Extracting video URLs...
Extracting info from: MOHAMMADI Mohammad...
Extracting video URLs...
Extracting info from: TSEND-OCHIR Tsogtbaatar...
Up to date!
Extracting info from: ONO Shohei...
Extracting video URLs...
Extracting info from: BUTBUL Tohar...
Extracting video URLs...
Extracting info from: MOGUSHKOV Musa...
Extracting video URLs...
Extracting info from: KARAPETIAN Ferdinand...
Extracting video URLs...
Extracting info from: CILOGLU Bilal...
Extracting video URLs...
Extracting info from: IARTCEV Denis...
Extracting video URLs...
Extracting info from: BOBOEV Giyosjon...
Extracting video URLs...
Extracting info from: SCVORTOV Victor...
Extracting video URLs...
Extracting info from: WANDTKE Igor...
Extracting video URLs...
Extracting info from: TURAEV Khikmatillokh...
Extracting video URLs...
Extracting info from: UNGVARI Miklos...
Extracting video URLs...
Extracting info from: ZINGG Anthony...
Extracting video URLs...

### Extract top competitors from every weight

In [5]:
competitors_all = list()

for weight in url_leaders_by_weight.keys():
    print(weight, '...')
    competitors = extract_all_profiles_weight(driver, weight)
    competitors_all.append(competitors)

men_60 ...
men_66 ...
men_73 ...
men_81 ...
men_90 ...
men_100 ...
men_100+ ...
women_48 ...
women_52 ...
women_57 ...
women_63 ...
women_70 ...
women_78 ...
women_78+ ...

In [11]:
competitors_all = pd.concat(competitors_all)

In [14]:
competitors_all.sample(5)

                   name country profile_id  category
56  WEZEU DOMBEU Helene     CMR       4393  women_63
83      GONZALEZ Oritia     ARG       2675  women_52
58            NJIE Faye     GAM      27553    men_73
21      VARAPAYEU Yahor     BLR      13091    men_90
19           PARK Yujin     KOR      15228  women_78

#### Save to db

In [12]:
conn = SQLiteConnection('../judo.sql')

WARNING: path must be of class Path

In [13]:
u = conn.as_pandas('select * from u52')

In [15]:
u.date.iloc[0]

'20 Sep 2018'

In [ ]:
conn.add_table('competitors', competitors_all, if_exists='fail')