### Actualizaci√≥n de batallas de los competidores

In [3]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import datetime

from lib import competition_to_family_map, get_all_battles, url_leaders_by_weight
from lib import extract_all_profiles_weight, update_competitor
from lib import SQLiteConnection
from lib import load_chromedriver

In [4]:
driver = load_chromedriver(en_casa=True)

In [5]:
conn = SQLiteConnection('../judo.sql')

In [6]:
competitors = conn.as_pandas('select * from competitors', index_col='index', parse_dates=['last_extraction'])

In [8]:
competitors.head()

                      name country profile_id category last_extraction
index
0           NAGAYAMA Ryuju     JPN       7350   men_60      2015-01-01
1           TAKATO Naohisa     JPN       9344   men_60      2015-01-01
2      PAPINASHVILI Amiran     GEO       2130   men_60      2015-01-01
3      MSHVIDOBADZE Robert     RUS       2757   men_60      2015-01-01
4       GARRIGOS Francisco     ESP       9365   men_60      2015-01-01

### Actualiza al gusto

In [10]:
conn.as_pandas('select * from battles where local=="LOPEZ SHERIFF Estrella"')

In [13]:
for item in estre.url_video:
    print(item)

https://judobase.ijf.org/#/competition/contest/gs_jpn2018_w_0052_0012
https://judobase.ijf.org/#/competition/contest/gp_ned2018_w_0052_0023
https://judobase.ijf.org/#/competition/contest/gp_ned2018_w_0052_0014
https://judobase.ijf.org/#/competition/contest/gs_ger2018_w_0052_0033
https://judobase.ijf.org/#/competition/contest/gs_ger2018_w_0052_0029
https://judobase.ijf.org/#/competition/contest/gs_ger2018_w_0052_0025
https://judobase.ijf.org/#/competition/contest/gs_ger2018_w_0052_0018
https://judobase.ijf.org/#/competition/contest/gs_ger2018_w_0052_0004
https://judobase.ijf.org/#/competition/contest/gs_fra2018_w_0052_0006
https://judobase.ijf.org/#/competition/contest/gp_tun2018_w_0052_0024
https://judobase.ijf.org/#/competition/contest/gp_ned2017_w_0052_0019
https://judobase.ijf.org/#/competition/contest/gp_ned2017_w_0052_0015
https://judobase.ijf.org/#/competition/contest/gp_ned2017_w_0052_0009
https://judobase.ijf.org/#/competition/contest/gp_ned2017_w_0052_0002
https://judobase.ijf.org/#/competition/contest/wc_sen2017_w_0052_0012
None
None
None
None
None
None
None
None
None
https://judobase.ijf.org/#/competition/contest/gp_ger2017_w_0052_0020
https://judobase.ijf.org/#/competition/contest/cont_open_aut2017_w_0052_0017
https://judobase.ijf.org/#/competition/contest/cont_open_aut2017_w_0052_0002
https://judobase.ijf.org/#/competition/contest/cont_open_tun2017_w_0052_0017
https://judobase.ijf.org/#/competition/contest/cont_open_tun2017_w_0052_0016
https://judobase.ijf.org/#/competition/contest/cont_open_tun2017_w_0052_0012
https://judobase.ijf.org/#/competition/contest/gp_cro2016_w_0052_0004
https://judobase.ijf.org/#/competition/contest/gp_hun2016_w_0052_0013
https://judobase.ijf.org/#/competition/contest/gp_hun2016_w_0052_0009
https://judobase.ijf.org/#/competition/contest/gp_hun2016_w_0052_0002
None
None
None
None
None
None
None
None
None
None
None
https://judobase.ijf.org/#/competition/contest/cont_open_mar2015_w_0052_0014

In [8]:
update_competitor(driver, conn, '42278')

Extracting info from: WADA Rinoko...
Extracting video URLs...

In [ ]:
for profile_id in competitors[competitors.category=='men_73'].profile_id:
    update_competitor(driver, conn, profile_id)

Extracting info from: HASHIMOTO Soichi...
Extracting video URLs...
Extracting info from: SHAVDATUASHVILI Lasha...
Extracting video URLs...
Extracting info from: AN Changrim...
Extracting video URLs...
Extracting info from: MACIAS Tommy...
Extracting video URLs...
Extracting info from: GANBAATAR Odbayar...
Extracting video URLs...
Extracting info from: HEYDAROV Hidayat...
Extracting video URLs...
Extracting info from: GJAKOVA Akil...
Extracting video URLs...
Extracting info from: ORUJOV Rustam...
Extracting video URLs...
Extracting info from: MARGELIDON Arthur...
Extracting video URLs...
Extracting info from: SMAGULOV Zhansay...
Extracting video URLs...
Extracting info from: MOHAMMADI Mohammad...
Extracting video URLs...
Extracting info from: TSEND-OCHIR Tsogtbaatar...
Up to date!
Extracting info from: ONO Shohei...
Extracting video URLs...
Extracting info from: BUTBUL Tohar...
Extracting video URLs...
Extracting info from: MOGUSHKOV Musa...
Extracting video URLs...
Extracting info from: KARAPETIAN Ferdinand...
Extracting video URLs...
Extracting info from: CILOGLU Bilal...
Extracting video URLs...
Extracting info from: IARTCEV Denis...
Extracting video URLs...
Extracting info from: BOBOEV Giyosjon...
Extracting video URLs...
Extracting info from: SCVORTOV Victor...
Extracting video URLs...
Extracting info from: WANDTKE Igor...
Extracting video URLs...
Extracting info from: TURAEV Khikmatillokh...
Extracting video URLs...
Extracting info from: UNGVARI Miklos...
Extracting video URLs...
Extracting info from: ZINGG Anthony...
Extracting video URLs...

### Extract top competitors from every weight

In [5]:
competitors_all = list()

for weight in url_leaders_by_weight.keys():
    print(weight, '...')
    competitors = extract_all_profiles_weight(driver, weight)
    competitors_all.append(competitors)

men_60 ...
men_66 ...
men_73 ...
men_81 ...
men_90 ...
men_100 ...
men_100+ ...
women_48 ...
women_52 ...
women_57 ...
women_63 ...
women_70 ...
women_78 ...
women_78+ ...

In [11]:
competitors_all = pd.concat(competitors_all)

In [14]:
competitors_all.sample(5)

                   name country profile_id  category
56  WEZEU DOMBEU Helene     CMR       4393  women_63
83      GONZALEZ Oritia     ARG       2675  women_52
58            NJIE Faye     GAM      27553    men_73
21      VARAPAYEU Yahor     BLR      13091    men_90
19           PARK Yujin     KOR      15228  women_78

#### Save to db

In [12]:
conn = SQLiteConnection('../judo.sql')

WARNING: path must be of class Path

In [13]:
u = conn.as_pandas('select * from u52')

In [15]:
u.date.iloc[0]

'20 Sep 2018'

In [ ]:
conn.add_table('competitors', competitors_all, if_exists='fail')