### Actualizaci√≥n de batallas de los competidores

In [1]:
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import datetime

from lib import competition_to_family_map, get_all_battles, url_leaders_by_weight
from lib import extract_all_profiles_weight, update_competitor
from lib import SQLiteConnection
from lib import load_chromedriver

In [2]:
driver = load_chromedriver(en_casa=True)

In [3]:
conn = SQLiteConnection('../judo.sql')

In [4]:
competitors_52 = conn.as_pandas('select * from competitors where category="women_52"', index_col='index', parse_dates=['last_extraction'])

In [5]:
competitors_52.head()

                    name country profile_id  category last_extraction
index
0                ABE Uta     JPN      35696  women_52      2018-11-23
1       BUCHARD Amandine     FRA       7539  women_52      2018-12-15
2      KUZIUTINA Natalia     RUS        366  women_52      2018-12-15
3          MIRANDA Erika     BRA        437  women_52      2018-09-20
4            SHISHIME Ai     JPN      10017  women_52      2018-11-23

### Actualiza al gusto

In [6]:
update_competitor(driver, conn, '366')

Extracting info from: KUZIUTINA Natalia...
Up to date!

In [6]:
for profile_id in competitors_52.profile_id:
    update_competitor(driver, conn, profile_id)

Extracting info from: ABE Uta...
Up to date!
Extracting info from: BUCHARD NORDMEYER Amandine...
Up to date!
Extracting info from: KUZIUTINA Natalia...
Up to date!
Extracting info from: MIRANDA Erika...
Up to date!
Extracting info from: SHISHIME Ai...
Up to date!
Extracting info from: TSUNODA Natsumi...
Up to date!
Extracting info from: KRASNIQI Distria...
Up to date!
Extracting info from: PEREIRA Jessica...
Up to date!
Extracting info from: VAN SNICK Charline...
Up to date!
Extracting info from: FLORIAN Alexandra-larisa...
Up to date!
Extracting info from: TSCHOPP Evelyne...
Up to date!
Extracting info from: DELGADO Angelica...
Up to date!
Extracting info from: COHEN Gili...
Up to date!
Extracting info from: PUPP Reka...
Up to date!
Extracting info from: KELMENDI Majlinda...
Up to date!
Extracting info from: PERENC Agata...
Up to date!
Extracting info from: PRIMO Gefen...
Up to date!
Extracting info from: GUICA Ecaterina...
Up to date!
Extracting info from: TEMELKOVA Betina...
Up to date!
Extracting info from: STANGAR Anja...
Up to date!
Extracting info from: GNETO Astride...
Up to date!
Extracting info from: GILES Chelsie...
Up to date!
Extracting info from: RAMOS Joana...
Up to date!
Extracting info from: PEREZ BOX Ana...
Up to date!
Extracting info from: GIUFFRIDA Odette...
Up to date!
Extracting info from: PIENKOWSKA Karolina...
Up to date!
Extracting info from: PARK Da Sol...
Up to date!
Extracting info from: KORKMAZ Irem...
Up to date!
Extracting info from: BABAMURATOVA Gulbadam...
Up to date!
Extracting info from: EASTON Tinka...
Up to date!
Extracting info from: VALENTIM Eleudis...
Up to date!
Extracting info from: TATSUKAWA Rina...
Up to date!
Extracting info from: BISHRELT Khorloodoi...
Up to date!
Extracting info from: LOPEZ SHERIFF Estrella...
Up to date!
Extracting info from: OLVERA Luz...
Up to date!
Extracting info from: KUZNETSOVA Alesya...
Up to date!
Extracting info from: MOUSSA Meriem...
Up to date!
Extracting info from: WU Shugen...
Up to date!
Extracting info from: SKRYPNIK Darya...
Up to date!
Extracting info from: CHITU Andreea...
Up to date!
Extracting info from: RIM Song Sim...
Up to date!
Extracting info from: GAMARRA CARBAJAL Brillith...
Up to date!
Extracting info from: EL QORACHI Fatima Zahra...
Up to date!
Extracting info from: AISSAHINE Faiza...
Up to date!
Extracting info from: KOCHER Fabienne...
Up to date!
Extracting info from: TAKEDA Ryoko...
Up to date!
Extracting info from: MENEZES Sarah...
Up to date!
Extracting info from: ESTEVES Mariana...
Up to date!
Extracting info from: ESTEO LINNE Nina Estefania...
Up to date!
Extracting info from: JIMENEZ Kristine...
Up to date!
Extracting info from: NAREKS Petra...
Up to date!
Extracting info from: KAZARINA Yulia...
Up to date!
Extracting info from: KUTSENKO Aigul...
Up to date!
Extracting info from: RICIU Cleonia...
Up to date!
Extracting info from: WARASIHA Kachakorn...
Extracting video URLs...
new battles!
Extracting info from: ELIZECHE Ayelen...
Up to date!
Extracting info from: PIERUCCI Giulia...
Up to date!
Extracting info from: LEGENTIL Christianne...
Up to date!
Extracting info from: BOBRIKOVA Daria...
Up to date!
Extracting info from: BEZALEL Ariel...
Up to date!
Extracting info from: AYARI Hela...
Up to date!
Extracting info from: WANG Xin...
Up to date!
Extracting info from: AZIZOVA Nazakat...
Up to date!
Extracting info from: EDWARDS Kelly...
Up to date!
Extracting info from: NGUYEN Thuy...
Up to date!
Extracting info from: CHINTOGTOKH Azzaya...
Up to date!
Extracting info from: FREITAS Leandra...
Up to date!
Extracting info from: KELDIYOROVA Diyora...
Up to date!
Extracting info from: NOURAN Adam...
Up to date!
Extracting info from: GANBOLD Gantsetseg...
Up to date!
Extracting info from: TSUI Shuk Ki...
Extracting video URLs...
new battles!
Extracting info from: MUNKHBAT Urantsetseg...
Extracting video URLs...
new battles!
Extracting info from: KALETA Aleksandra...
Up to date!
Extracting info from: RUBINSTEIN Madelene...
Up to date!
Extracting info from: KOSE Mai...
Up to date!
Extracting info from: LKHAGVASUREN Sosorbaram...
Extracting video URLs...
new battles!
Extracting info from: KAKKO Katri...
Up to date!
Extracting info from: FOFANA Salimata...
Up to date!
Extracting info from: BESSON Marie...
Extracting video URLs...
new battles!
Extracting info from: DE JESUS Diana...
Up to date!
Extracting info from: SIKIC Tena...
Up to date!
Extracting info from: MARCUS TABELLION Coraline...
Up to date!
Extracting info from: MAEDA Chishima...
Up to date!
Extracting info from: GONZALEZ Oritia...
Up to date!
Extracting info from: SILVA Djamila...
Up to date!
Extracting info from: ZIYAEVA Gulnoza...
Up to date!
Extracting info from: HERATE Cecile...
Up to date!
Extracting info from: AMIRTAYEVA Zhadyra...
Up to date!
Extracting info from: THOUDAM Kalpana Devi...
Up to date!
Extracting info from: BISHOP Justine...
Extracting video URLs...
new battles!
Extracting info from: SCHNEIDER Miriam...
Up to date!
Extracting info from: MOKDAR Faiza...
Up to date!
Extracting info from: JANG Yejin...
Up to date!
Extracting info from: ROUVIERE Nathalie...
Up to date!
Extracting info from: SZABO Katinka...
Up to date!
Extracting info from: CHISTANOVA Sofia...
Up to date!
Extracting info from: PLIIEVA Lyudmyla...
Up to date!
Extracting info from: JANASHVILI Mariam...
Up to date!
Extracting info from: CHEN Chin-Ying...
Up to date!
Extracting info from: CARDOZO MADAF Abi betsabe...
Up to date!

### Extract top competitors from every weight

In [5]:
competitors_all = list()

for weight in url_leaders_by_weight.keys():
    print(weight, '...')
    competitors = extract_all_profiles_weight(driver, weight)
    competitors_all.append(competitors)

men_60 ...
men_66 ...
men_73 ...
men_81 ...
men_90 ...
men_100 ...
men_100+ ...
women_48 ...
women_52 ...
women_57 ...
women_63 ...
women_70 ...
women_78 ...
women_78+ ...

In [11]:
competitors_all = pd.concat(competitors_all)

In [14]:
competitors_all.sample(5)

                   name country profile_id  category
56  WEZEU DOMBEU Helene     CMR       4393  women_63
83      GONZALEZ Oritia     ARG       2675  women_52
58            NJIE Faye     GAM      27553    men_73
21      VARAPAYEU Yahor     BLR      13091    men_90
19           PARK Yujin     KOR      15228  women_78

#### Save to db

In [12]:
conn = SQLiteConnection('../judo.sql')

WARNING: path must be of class Path

In [13]:
u = conn.as_pandas('select * from u52')

In [15]:
u.date.iloc[0]

'20 Sep 2018'

In [ ]:
conn.add_table('competitors', competitors_all, if_exists='fail')